* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto 1fr max-content;
}

.sidebar {
    background-color: teal;
    padding: 16px;
    grid-row: span 4;
    display: grid;
    grid-template-rows: auto .3fr .3fr 1fr;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.header {
    padding: 15px 30px;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    column-gap: 50px;
}
.header-search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
.header-search input {
    height: 25px;
    border-radius: 8px;
    border: 0px white;
    background-color: #eeeeee;
    padding: 0px 8px;
}
.header-icons {
    
    display: grid;
    grid-template-columns: auto .3fr max-content;
    justify-content: right;
    align-items: center;
    gap: 16px;
}
.header-welcome {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    align-items: start;
}

.header-welcome .user-pic {
    grid-row: span 2;
    
}
.welcome-text {
    grid-column: span 2;
    align-self: end;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}





.content {
    background-color: aqua;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    background-color: lightpink;
    grid-row: span 2;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 15px 30px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: start;
    justify-items: stretch;
    align-items: center;

}
.card {
    background-color: aliceblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2px;
    padding: 10px;
    height: 200px;
}

.card-text {
    overflow: auto;
}
.card ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
}
.card-title {
}
.announcements {
    background-color: bisque;
}

.trending {
    background-color: lightgreen;
}






.footer {
    background-color: pink;
}
.icon {
    height: 20px;
    width: 20px;
}

.nav-icon {
    height: 20px;
    width: 20px;
}

li{
    margin: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px
}

.nav-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items:center;
}

.title-icon {
    height: 40px;
    width: 40px;
}

.profile-pic-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.profile-pic-large {
    height: 90px;
    width: 90px;
    border-radius: 50%;

}
.profile-pic-large:hover,.profile-pic-small:hover {
    scale: 1.2;
}

.button {
    background-color: lightblue;
    border-radius: 14px;
    border: 2px lightblue;
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
}

.button:hover{
    background-color: lightcyan;
    color: black;
}